body{
    font-family: 'Times New Roman', Times, serif /*fonte do texto*/;
    background-color: rgb(49, 79, 80);
    text-align: center /*centralizando*/;
    margin-top: 50px /*adiciona espaço de 50px no topo da pagina*/;
color: rgb(3, 34, 34);
}
/*define o estilo da caixa central */
.caixa{
    background-color: rgb(114, 93, 233); /* cor na caixa*/
    padding: 20px; /* espaço interno da caixa*/
    width: 300px; /*largura fixa de 300px*/
    margin: auto; /* centraliza a caixa*/
    border-radius: 77px;
color: rgb(90, 33, 143);
}